* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.header {
    background-color: #04111D;
    height: 73px;
    display: flex;
    flex-direction:initial; 
    justify-content:space-around;
    align-items: center;
}

.opensea_logo {
    width: 140px;
    /* padding: 10%; */
}

.searchBar :hover {
    background-color: rgba(255, 255, 255, 0.198);
    height: 40px;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
}
.searchBar {
    background-color: #353840;
    height: 40px;
    flex: 1;
    display: flex;
    border-radius: 8px;
    align-items: center;
    max-width: 470px;
    font-family: 'Poppins', sans-serif;
}

.searchBar icon :hover {
    background-color: rgba(255, 255, 255, 0.198);
}

.searchBar icon {
    color: #8A939B;
    margin-top: 5px;
    padding-left: 10px;
}

.searchInput {
    background-color: transparent;
    border: none;
    width: 100%;
    outline: none;
    color: #9e9fa0;
    font-size: 16px;
}

.headerItems {
    display: flex;
    align-items: center;
    color: #a1a5b0;
}

.headerItems p {
    padding: 20px;
}

.headerItems p:hover {
    color: rgba(255, 255, 255, 0.75);
    cursor: pointer;
}

.headerIcons icon {
    padding: 10px;
    padding-right: 25px;
}

.headerIcons icon:hover {
    color: rgba(255, 255, 255, 0.75);
    cursor: pointer; 
}

